<footer class="fullcontainer posRel bg_purple">
  <div class="rowcontainer">
    <div class="fixedcontainer">
      <div class="f_outer_con">
        <div class="f_link_con">
          <ul>
            <li>
              <a href="https://www.web.kenko-health.in" target="_blank"
                >About Kenko</a
              >
            </li>
            <li>
              <a href="https://www.web.kenko-health.in/blog" target="_blank"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="https://www.web.kenko-health.in/subscribe"
                target="_blank"
                >Subscribe</a
              >
            </li>
            <li>
              <a href="https://www.web.kenko-health.in/" target="_blank"
                >Reach Us</a
              >
            </li>
            <li>
              <a
                href="https://www.web.kenko-health.in/terms-conditions"
                target="_blank"
                >Terms & Conditions</a
              >
            </li>
            <li>
              <a
                href="https://www.web.kenko-health.in/privacy-policy"
                target="_blank"
                >Privacy Policy</a
              >
            </li>
          </ul>
          <p>
            Kenko is a unique healthcare financing solution focusing on ROI,
            affordability and superior customer experience.<br />
            © 2019 Kenko. All Rights Reserved.<br />
          </p>
        </div>
        <div class="f_store_con">
          <div class="f_i_con">
            <h6>download the app</h6>
            <ul>
              <li>
                <a href="">
                  <img src="assets/images/apple-store.svg" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="assets/images/play-store.svg" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
