<div class="fullcontainer pt80">
  <div class="rowcontainer">
    <div class="fixedcontainer noSpacerLR">
      <div class="b_p_outer">
        <div class="b_p_inner">
          <div class="b_p_grid">
            <div class="u-p-b">
              <h1>Kenko Red Plans For You</h1>
              <div class="f_c_b">
                <div class="fixedcontainer">
                  <div class="t_f_f_c">
                    <h6><i></i>Filter</h6>
                  </div>
                </div>
              </div>
              <div class="p_b_m_c">
                <div class="p_b_f_c" id="sidebar">
                  <div class="left-container-box">
                    <div class="left-inner">
                      <div class="filter_c_i_p">
                        <div class="filter_c_c_g_b">
                          <div class="top_f_c_b">
                            <h2><i></i>Filter</h2>
                          </div>
                          <a href="javascript:void(0);" class="closebtn-c"
                            >Close</a
                          >
                          <div class="c_t_h_b">
                            <form name="filter-name" action="">
                              <div class="n-em-i-b">
                                <div class="filter-otion-gride">
                                  <div class="p_top_con">
                                    <h3>Hospitalization</h3>
                                  </div>
                                  <div class="filter-option-box">
                                    <ul>
                                      <li class="c_i_container active">
                                        <i class="slider_chkbox">1 Day</i>
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >1 Day</label
                                          >
                                        </span>
                                      </li>

                                      <li class="c_i_container active">
                                        <i class="slider_chkbox">3 Days</i>
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >3 Days</label
                                          >
                                        </span>
                                      </li>

                                      <li class="c_i_container active">
                                        <i class="slider_chkbox">5 Days</i>
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >5 Days</label
                                          >
                                        </span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="filter-otion-gride">
                                  <div class="p_top_con">
                                    <h3>OPD</h3>
                                  </div>
                                  <div class="filter-option-box opd-gride">
                                    <ul>
                                      <li class="c_i_container active">
                                        <i class="slider_chkbox"
                                          >Rs.100 cashback</i
                                        >
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >Rs.100 cashback</label
                                          >
                                        </span>
                                      </li>

                                      <li class="c_i_container active">
                                        <i class="slider_chkbox"
                                          >50% discount</i
                                        >
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >50% discount</label
                                          >
                                        </span>
                                      </li>

                                      <li class="c_i_container active">
                                        <i class="slider_chkbox"
                                          >95% discount</i
                                        >
                                        <span class="checkboxCon">
                                          <input type="checkbox" checked />
                                          <label class="sldr roundchk"
                                            >95% discount</label
                                          >
                                        </span>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="filter-option-submit-btn clearfix">
                                  <input
                                    type="reset"
                                    value="Clear"
                                    class="btn-f-b uncheckall"
                                  />
                                  <input
                                    type="button"
                                    value="Apply"
                                    class="btn-f-b loadingBox"
                                  />
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p_b_f_c_i">
                  <!-- selectedPlan add class for active plan-->
                  <div class="listGrid planListingCon">
                    <div class="l_g_b_mc">
                      <div class="i_b_grid">
                        <!--  <div class="offer_con_b flex_c_a_c"><span>Offer Intro</span></div> -->
                        <div class="innerBox1">
                          <div class="d_c_g_b">
                            <!-- <div class="b_p_t_c strikeTxt">
                                                              <div class="bp_ic">
                                                                  <h3>&#x20b9;199<span>/ Month</span></h3>
                                                              </div>
                                                          </div> -->

                            <div class="b_p_t_c">
                              <div class="bp_ic">
                                <h3>&#x20b9;199<span>/ Month</span></h3>
                                <span class="selctedPlan">Active Plan</span>
                              </div>
                            </div>
                            <div class="f_p_ctxt">
                              <p>
                                Buy this plan as a top-up if you already have
                                insurance from your workplace
                              </p>
                            </div>
                            <div class="u-p-listing-v">
                              <ul>
                                <li>
                                  <strong>&#x20b9;100 every month</strong> for
                                  prescription medicines, doctor fees, lab tests
                                  and other small medical expenses
                                </li>
                                <li>
                                  <strong>1 day hospital</strong> stay per year,
                                  all expenses included
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="p_btn_c_b_o">
                        <div class="p_btn_c_b_i">
                          <div class="r-f-e-btn-box">
                            <a href="#" class="r-f-e-btn">SUBSCRIBE NOW</a>
                            <p>No commitments, cancel anytime</p>
                          </div>
                        </div>
                        <div class="p_c_k_m_i">
                          <a
                            href=""
                            routerLink="/plans/post-plan-details"
                            routerLinkActive="active"
                            class="k-m-l"
                            >Find out More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="listGrid planListingCon">
                    <div class="l_g_b_mc">
                      <div class="i_b_grid">
                        <div class="offer_con_b flex_c_a_c">
                          <span>Intro Offer</span>
                        </div>
                        <div class="innerBox1">
                          <div class="d_c_g_b">
                            <div class="b_p_t_c strikeTxt">
                              <div class="bp_ic">
                                <h3>&#x20b9;499<span>/ Month</span></h3>
                              </div>
                            </div>

                            <div class="b_p_t_c">
                              <div class="bp_ic">
                                <h3>&#x20b9;399<span>/ Month</span></h3>
                                <span class="selctedPlan">Active Plan</span>
                              </div>
                            </div>
                            <div class="f_p_ctxt">
                              <p>
                                A powerful all-inclusive plan that provides
                                great value and wide benefits. Choose this plan
                                if you have no other coverage
                              </p>
                            </div>
                            <div class="u-p-listing-v">
                              <ul>
                                <li>
                                  <strong
                                    >50% of all small medical expenses covered
                                    every month</strong
                                  >
                                  such as prescription medicines, doctor fees,
                                  lab tests and others
                                </li>
                                <li>
                                  <strong>3-day hospital stay</strong> per year,
                                  all expenses included
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="p_btn_c_b_o">
                        <div class="p_btn_c_b_i">
                          <div class="r-f-e-btn-box">
                            <a href="#" class="r-f-e-btn">SUBSCRIBE NOW</a>
                            <p>No commitments, cancel anytime</p>
                          </div>
                        </div>
                        <div class="p_c_k_m_i">
                          <a
                            href=""
                            routerLink="/plans/plan-det"
                            routerLinkActive="active"
                            class="k-m-l"
                            >Find out More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
