<kr-fake-api></kr-fake-api>

<div class="c_t_s_c bg_white pt80">
  <div class="fullcontainer sliderContainer pos100">
    <div class="rowcontainer pos100">
      <div class="fixedcontainer">
        <div class="owl-carousel owl-theme sliderBanner">
          <div class="sliderItem">
            <div class="sliderImage">
              <div class="imgCon">
                <img src="assets/images/leave_anytime.png" />
              </div>
            </div>
            <div class="sliderContent">
              <div class="s_i_c">
                <h2>Start any time. <span>Leave any time.</span></h2>
                <p>
                  Subscriptions starting from
                  <span><strong>&#x20b9; 199 per month</strong></span>
                </p>
                <a
                  href=""
                  routerLink="/plans/post-plan"
                  routerLinkActive="active"
                  class="btnRed flex_c_a_c"
                  >LET'S START</a
                >
              </div>
            </div>
          </div>

          <div class="sliderItem">
            <div class="sliderImage">
              <div class="imgCon">
                <img src="assets/images/we_cover_everything.svg" />
              </div>
            </div>
            <div class="sliderContent">
              <div class="s_i_c">
                <h2>We cover <span>everything. Period.</span></h2>
                <p>
                  Medicines, medical tests, consultation charges,
                  hospitalisation
                </p>
                <a
                  href=""
                  routerLink="/plans/post-plan"
                  routerLinkActive="active"
                  class="btnRed flex_c_a_c"
                  >LET'S START</a
                >
              </div>
            </div>
          </div>

          <div class="sliderItem">
            <div class="sliderImage">
              <div class="imgCon">
                <img src="assets/images/image.svg" />
              </div>
            </div>
            <div class="sliderContent">
              <div class="s_i_c">
                <h2>Get well soon, <span>get home sooner.</span></h2>
                <p>
                  No more waiting at the hospital for approvals. We transfer
                  your benefits directly to you, <strong>before</strong> you
                  step into a hospital
                </p>
                <a
                  routerLink="/plans/post-plan"
                  routerLinkActive="active"
                  class="btnRed flex_c_a_c"
                  >Learn More</a
                >
              </div>
            </div>
          </div>
          <div class="sliderItem">
            <div class="sliderImage">
              <div class="imgCon">
                <img src="assets/images/hidden_expensive.svg" />
              </div>
            </div>
            <div class="sliderContent">
              <div class="s_i_c">
                <h2>No more <span>nasty surprises</span></h2>
                <p>Our plans do not have any hidden limits or exclusions</p>
                <a
                  href=""
                  routerLink="/plans/post-plan"
                  routerLinkActive="active"
                  class="btnRed flex_c_a_c"
                  >Explore our plans</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
