<div class="fullcontainer pt80">
  <div class="rowcontainer">
    <div class="fixedcontainer noSpaceLR">
      <div class="c_container_outer">
        <a
          href=""
          routerLink="/plans/post-plan-details"
          routerLinkActive="active"
          class="backBtnbox"
          >Back</a
        >
        <div class="c_container_inner">
          <div class="c_centrt_grid">
            <div class="net-h-co">
              <h1>Network hospitals</h1>
              <!-- <div class="net-hos-aro-m">
                                  <div class="s_c_outer">
                                      <div class="search_container">
                                          <form action="" method="POST">
                                              <input type="text" name="search" placeholder="Search hospitals around you" autocomplete="off" />
                                              <span><img src="images/search.svg" /></span>
                                          </form>
                                      </div>
                                  </div>
                              </div> -->
              <div class="listingData">
                <div class="listRow">
                  <div class="listGrid">
                    <div class="i_b_grid">
                      <div class="innerBox">
                        <div class="i_i_box_lo">
                          <img src="assets/images/fortis.png" />
                        </div>
                        <div class="d_c_g_b net-p-b">
                          <h3>Fortis Hospital</h3>
                          <p>
                            Near Courtyard Marriott, Shop No. 121-H(G.F.),
                            Sushant Shopping Arcade, Sushant Lok Phase I,
                            Gurugram, Haryana 122001
                          </p>
                          <div class="n-h-l clearfix">
                            <div class="d-k-l">
                              <strong>1 km away,</strong> from your location
                            </div>
                            <div class="d-k-d">
                              <a
                                href="https://www.google.com/maps/place/Courtyard+by+Marriott+Gurugram+Downtown/@28.4607618,77.0783152,17z/data=!3m1!4b1!4m8!3m7!1s0x390d18c2b25beef1:0xa90ad78476f4a2c1!5m2!4m1!1i2!8m2!3d28.4607571!4d77.0805039"
                                target="_blank"
                                >Direction</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listGrid">
                    <div class="i_b_grid">
                      <div class="innerBox">
                        <div class="i_i_box_lo">
                          <img src="assets/images/max.png" />
                        </div>
                        <div class="d_c_g_b net-p-b">
                          <h3>Max Hospital</h3>
                          <p>
                            Near Courtyard Marriott, Shop No. 121-H(G.F.),
                            Sushant Shopping Arcade, Sushant Lok Phase I,
                            Gurugram, Haryana 122001
                          </p>
                          <div class="n-h-l clearfix">
                            <div class="d-k-l">
                              <strong>2 km away,</strong> from your location
                            </div>
                            <div class="d-k-d">
                              <a
                                href="https://www.google.com/maps/place/Courtyard+by+Marriott+Gurugram+Downtown/@28.4607618,77.0783152,17z/data=!3m1!4b1!4m8!3m7!1s0x390d18c2b25beef1:0xa90ad78476f4a2c1!5m2!4m1!1i2!8m2!3d28.4607571!4d77.0805039"
                                target="_blank"
                                >Direction</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listGrid">
                    <div class="i_b_grid">
                      <div class="innerBox">
                        <div class="i_i_box_lo">
                          <img src="assets/images/medanta.png" />
                        </div>
                        <div class="d_c_g_b net-p-b">
                          <h3>Medanta Hospital</h3>
                          <p>
                            Near Courtyard Marriott, Shop No. 121-H(G.F.),
                            Sushant Shopping Arcade, Sushant Lok Phase I,
                            Gurugram, Haryana 122001
                          </p>
                          <div class="n-h-l clearfix">
                            <div class="d-k-l">
                              <strong>15 km away,</strong> from your location
                            </div>
                            <div class="d-k-d">
                              <a
                                href="https://www.google.com/maps/place/Courtyard+by+Marriott+Gurugram+Downtown/@28.4607618,77.0783152,17z/data=!3m1!4b1!4m8!3m7!1s0x390d18c2b25beef1:0xa90ad78476f4a2c1!5m2!4m1!1i2!8m2!3d28.4607571!4d77.0805039"
                                target="_blank"
                                >Direction</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="load_more">
                <p>
                  To view list of all network hospitals
                  <a href="http://bit.ly/Kenko-Network">click here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d_i_c_b go_h_f">
  <span class="l_c_d">
    <a href="" routerLink="/dashboard/dashboard">Dashboard</a>
  </span>
  <div class="d_p_c_c">
    <a href="javascript:void(0)" class="dpc btnHelppoup">
      <p><span></span><i>HELP</i></p>
    </a>
  </div>
  <span class="d_r_f_c_b">
    <a href="" routerLink="/refer-a-friend/refer-a-friend">Refer a Friend</a>
  </span>
</div>
<div class="help_popup-overlay">
  <div class="help_popup-inner">
    <div class="help_c_i_p">
      <div class="help_c_c_g_b">
        <a href="javascript:void(0);" class="help_closebtn">Close</a>
        <div class="help_c_t_h_b">
          <div class="help_c_t_f_n_c">
            <div id="formContainerBox">
              <p>Toll Free Number</p>
              <h4><a href="tel:+91-8010994994">+91-8010994994</a></h4>
              <div class="help_c_t_f_n_c_call_now">
                <div class="help_call_now">
                  <a href="tel:+91-8010994994">Call now</a> or
                </div>
                <div class="help_r_c_b">
                  <a
                    href="javascript:void(0);"
                    class="r_f_c_b btnRed flex_c_a_c"
                    >Request call back</a
                  >
                </div>
              </div>
              <div class="f_c_b_m">
                <form
                  action=""
                  method="POST"
                  id="requestCall"
                  autocomplete="off"
                >
                  <div class="formGroup">
                    <label>Enter your mobile number</label>
                    <div class="f_i_c_b">
                      <input
                        type="tel"
                        class="tel_g_d"
                        name="mobile"
                        value=""
                        placeholder="989129XXXX"
                        minlength="10"
                        maxlength="10"
                        onkeypress="return isNumberKey(event);"
                        pattern="[1-9]{1}[0-9]{9}"
                      />
                    </div>
                  </div>
                  <div class="b_c_s">
                    <button
                      type="button"
                      id="submitForm"
                      class="btnRed flex_c_a_c"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div id="sucessesMsg">
              <div class="sucessCon">
                <span><i></i></span>
                <h5>Thank You</h5>
                <p>We will receive call back from us shortly</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
