<div class="fullcontainer pt80">
  <div class="rowcontainer">
    <div class="fixedcontainer noSpacerLR">
      <div class="b_p_outer">
        <a href="#" class="backBtnbox">Back</a>
        <div class="b_p_inner">
          <div class="b_p_grid">
            <div class="b_p_t_c">
              <div class="bp_ic">
                <h1>
                  <em>&#x20b9;199</em><span>/ Month</span>
                  <!--  <i class="activePlan">Active Plan</i> -->
                </h1>
              </div>
              <div class="b_p_price">
                <div class="b_p_i_p_c">
                  <a href="" routerLink="/plans" class="v_a_p_l"
                    >View all Plans</a
                  >
                </div>
              </div>
            </div>

            <div class="bp_l_ic">
              <div class="bd_b_b">
                <h3>
                  A basic plan to help you get started. Use it as a top-up to
                  your existing insurance, or as a limited time trial. Don't
                  worry, you can cancel anytime you like.
                </h3>
                <h6>There are very few terms of usage</h6>
                <ul class="listingData">
                  <li>
                    You can avail of services such as medicines, doctor
                    appointments and more, worth &#x20b9;100 every month.
                    <strong
                      >Anything you spend over and above, will be charged to
                      you</strong
                    >
                  </li>
                  <li>
                    1-day hospital stay includes all expenses including room
                    charges. We will organise this for you at a<strong>
                      single, air conditioned room which isn't a suite or a
                      similar category</strong
                    >
                  </li>
                  <li>
                    Hospital stay benefit is on a
                    <strong>12-month basis</strong> from the date you start your
                    subscription. If you cancel your subscription any time
                    before the completion of the 12-month period, your account
                    will be suspended. You can re-activate your account at any
                    time and will
                    <strong>
                      need to complete the balance period with the balance
                      benefits</strong
                    >
                    before a new 12-month period can start. Call us to
                    understand this better
                  </li>
                  <li>
                    Get in touch with us in-app or at our helplines to avail any
                    of the services. Prescriptions and doctor's advice
                    <strong
                      >procured without the involvement of our
                      representative</strong
                    >, are not eligible for this plan
                  </li>
                  <li>
                    <strong
                      >You do not need to mail us prescriptions, bills, notices,
                      documents etc</strong
                    >. Our representative will stay in touch with you to collect
                    any information that may be required for your treatments -
                    as easy as taking a picture with your phone
                  </li>
                  <li>
                    <strong>Be cautious with the answers you provide us</strong>
                    while taking the Kenko score - they may be used to determine
                    your benefits at a later time, if found inaccurate
                  </li>
                </ul>

                <div class="linkMore">
                  <a
                    href="javascript:void(0);"
                    open-data="Know more details"
                    close-data="Show less details"
                    >Know more details</a
                  >
                </div>
                <div class="b_c_b_n_w">
                  <a href="#" class="btnRed flex_c_a_c">Change Your Plan</a>
                </div>
              </div>
            </div>

            <div class="bp_v_c_b">
              <div class="bp_s_c">
                <div class="bp_s_t">
                  <h6>So how does this work?</h6>
                </div>
              </div>
              <div class="bd_v_c">
                <div class="bd_v_ic">
                  <div class="i_c_o_b">
                    <img src="assets/images/info.jpg" />
                    <div class="txtConbox">
                      <h6>Step 4</h6>
                      <p>
                        Open up your dashboard and tap this button for anything
                        you need. We will take over and guide you accordingly.
                        Our associates will book your appointments, order your
                        prescription medicines, and even organise your hospital
                        visit.
                      </p>
                      <p>
                        If the doctor advises treatment at a hospital, our
                        associates will provide you two choices at reputed
                        hospitals close to you. The entire expenses will be
                        transferred to your Kenko account which you can unlock
                        after you reach the hospital.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bp_c_b_m">
              <div class="bp_s_c">
                <div class="bp_s_t">
                  <h6>Network hospital</h6>
                  <span
                    ><a href="" routerLink="/networks/hospitals"
                      >View All</a
                    ></span
                  >
                </div>
              </div>

              <div class="bp_slider">
                <ul class="owl-carousel owl-theme bp_s_con">
                  <li>
                    <span><img src="assets/images/fortis.png"/></span>
                  </li>
                  <li>
                    <span><img src="assets/images/max.png"/></span>
                  </li>
                  <li>
                    <span><img src="assets/images/medanta.png"/></span>
                  </li>
                  <li>
                    <span><img src="assets/images/fortis.png"/></span>
                  </li>
                  <li>
                    <span><img src="assets/images/max.png"/></span>
                  </li>
                  <li>
                    <span><img src="assets/images/medanta.png"/></span>
                  </li>
                  <li>
                    <span><img src="images/fortis.png"/></span>
                  </li>
                  <li>
                    <span><img src="images/max.png"/></span>
                  </li>
                  <li>
                    <span><img src="images/medanta.png"/></span>
                  </li>
                </ul>
              </div>
              <div class="bp_line">
                <span></span>
              </div>
            </div>

            <div class="bp_c_b_m">
              <div class="bp_s_c">
                <div class="bp_s_t">
                  <h6>Network doctor</h6>
                  <span
                    ><a href="" routerLink="/networks/doctors"
                      >View All</a
                    ></span
                  >
                </div>
              </div>

              <div class="bp_slider">
                <ul class="owl-carousel owl-theme bp_ds_con">
                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c1">
                        <div class="c_c_c_i_b ">
                          <span>J</span>
                        </div>
                      </div>

                      <div class="bp_txt_c">
                        <h6>Dr.Jhon</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c2">
                        <div class="c_c_c_i_b ">
                          <span>A</span>
                        </div>
                      </div>
                      <div class="bp_txt_c">
                        <h6>Dr.Ajay</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c3">
                        <div class="c_c_c_i_b ">
                          <span>J</span>
                        </div>
                      </div>

                      <div class="bp_txt_c">
                        <h6>Dr.Jhon</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c4">
                        <div class="c_c_c_i_b ">
                          <span>A</span>
                        </div>
                      </div>
                      <div class="bp_txt_c">
                        <h6>Dr.Ajay</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c5">
                        <div class="c_c_c_i_b ">
                          <span>J</span>
                        </div>
                      </div>

                      <div class="bp_txt_c">
                        <h6>Dr.Jhon</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c6">
                        <div class="c_c_c_i_b ">
                          <span>A</span>
                        </div>
                      </div>
                      <div class="bp_txt_c">
                        <h6>Dr.Ajay</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c7">
                        <div class="c_c_c_i_b ">
                          <span>J</span>
                        </div>
                      </div>

                      <div class="bp_txt_c">
                        <h6>Dr.Jhon</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="bp_oc_b">
                      <div class="c_c_c_b flex_c_a_c c8">
                        <div class="c_c_c_i_b ">
                          <span>A</span>
                        </div>
                      </div>
                      <div class="bp_txt_c">
                        <h6>Dr.Ajay</h6>
                        <p>MBBS (Dentist)</p>
                        <p>Dawarka, New Delhi</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="bp_line">
                <span></span>
              </div>
            </div>

            <div class="bp_c_d_i">
              <div class="bpcib">
                <div class="bp_p_c_d">
                  <span>Pay &nbsp;</span>
                  <h6>&#x20b9;199</h6>
                  <span> / Month</span>
                </div>
                <div class="bp_btn_o">
                  <a href="#" class="btnRed flex_c_a_c">Change Your Plan</a>
                </div>
                <p>No commitments, cancel anytime</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d_i_c_b go_h_f">
  <span class="l_c_d">
    <a href="" routerLink="/dashboard/dashboard">Dashboard</a>
  </span>
  <div class="d_p_c_c">
    <a href="javascript:void(0)" class="dpc btnHelppoup">
      <p><span></span><i>HELP</i></p>
    </a>
  </div>
  <span class="d_r_f_c_b">
    <a href="" routerLink="/refer-a-friend/refer-a-friend">Refer a Friend</a>
  </span>
</div>
<div class="help_popup-overlay">
  <div class="help_popup-inner">
    <div class="help_c_i_p">
      <div class="help_c_c_g_b">
        <a href="javascript:void(0);" class="help_closebtn">Close</a>
        <div class="help_c_t_h_b">
          <div class="help_c_t_f_n_c">
            <div id="formContainerBox">
              <p>Toll Free Number</p>
              <h4><a href="tel:+91-8010994994">+91-8010994994</a></h4>
              <div class="help_c_t_f_n_c_call_now">
                <div class="help_call_now">
                  <a href="tel:+91-8010994994">Call now</a> or
                </div>
                <div class="help_r_c_b">
                  <a
                    href="javascript:void(0);"
                    class="r_f_c_b btnRed flex_c_a_c"
                    >Request call back</a
                  >
                </div>
              </div>
              <div class="f_c_b_m">
                <form
                  action=""
                  method="POST"
                  id="requestCall"
                  autocomplete="off"
                >
                  <div class="formGroup">
                    <label>Enter your mobile number</label>
                    <div class="f_i_c_b">
                      <input
                        type="tel"
                        class="tel_g_d"
                        name="mobile"
                        value=""
                        placeholder="989129XXXX"
                        minlength="10"
                        maxlength="10"
                        onkeypress="return isNumberKey(event);"
                        pattern="[1-9]{1}[0-9]{9}"
                      />
                    </div>
                  </div>
                  <div class="b_c_s">
                    <button
                      type="button"
                      id="submitForm"
                      class="btnRed flex_c_a_c"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div id="sucessesMsg">
              <div class="sucessCon">
                <span><i></i></span>
                <h5>Thank You</h5>
                <p>We will receive call back from us shortly</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
