<div class="mob_bg_red">
  <div class="fullcontainer pt80">
    <div class="rowcontainer">
      <div class="fixedcontainer noSpacerLR ">
        <div class="b_p_outer">
          <div class="b_p_inner">
            <div class="b_p_grid">
              <div class="b_p_t_c">
                <div class="mlp_ic">
                  <form action="" method="POST" autocomplete="off">
                    <h2>Enter your mobile number</h2>
                    <p>
                      A 4-digit OTP will be sent to your mobile number for
                      verification
                    </p>
                    <div class="i_e">
                      <input
                        type="tel"
                        autofocus
                        name=""
                        value=""
                        placeholder="989129XXXX"
                        maxlength="10"
                        pattern="[1-9]{1}[0-9]{9}"
                      />
                      <label>Please enter valid mobile number</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
