<div class="fullcontainer pt80">
  <div class="rowcontainer">
    <div class="fixedcontainer noSpacerLR">
      <div class="b_p_outer">
        <!--  <a href="#" class="backBtnbox">Back</a> -->
        <div class="b_p_inner">
          <div class="dashboard-p-w">
            <div class="dashboard-p-g">
              <!-- <div class="dashboard_o_c_b">
                                  <div class="d_b_s_b">
                                      <div class="dashboard-p-list bg-image bg_c_mob">

                                          <div class="d_b_c_c">
                                              <div class="bd_gc">
                                                  <h5>Your Savings <span>&#x20b9;5000</span></h5>
                                              </div>

                                              <div class="bd_gc f_b_c_d">
                                                  <div class="d_c_img">
                                                      <img src="images/coins.png" />
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="d_c_b_at cc1">
                                              <div class="at_sc f_f_d_c">
                                                  <p>OPD Expenses</p>
                                              </div>
                                              <div class="at_sc f_b_c_d heart_1">
                                                  <i>20% </i>
                                                  <div class="bg_heart"><span class="fill_bg" style="height:20%"></span><span class="line_bg"></span>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="d_c_b_at cc2">
                                              <div class="at_sc f_f_d_c">
                                                  <p>Medicines Expenses</p>
                                              </div>
                                              <div class="at_sc f_b_c_d heart_2">
                                                  <i>60% </i>
                                                  <div class="bg_heart"><span class="fill_bg" style="height:60%"></span><span class="line_bg"></span>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="d_c_b_at cc3">
                                              <div class="at_sc f_f_d_c">
                                                  <p>Lab Test</p>
                                              </div>
                                              <div class="at_sc f_b_c_d heart_3">
                                                  <i>20% </i>
                                                  <div class="bg_heart"><span class="fill_bg" style="height:20%"></span><span class="line_bg"></span>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="d_c_b_at cc4">
                                              <div class="at_sc f_f_d_c">
                                                  <p>Hospitalisation Expenses</p>
                                              </div>
                                              <div class="at_sc f_b_c_d heart_4">
                                                  <i>33% </i>
                                                  <div class="bg_heart"><span class="fill_bg" style="height:33%"></span><span class="line_bg"></span>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div class="d_b_s_b">
                                      <div class="dashboard-p-list d_usage bg-blue">
                                          <div class="dashboard-p-list2-cont1">
                                              <h3>Coverage <span>3 Days</span></h3>
                                              <div class="dashboard-p-usage">Usage - 1 Day</div>
                                              <div class="dashboard-p-rem"> Remaining - 2 Days </div>
                                          </div>
                                          <div class="dashboard-p-list2-progressbar">
                                              <div class="d_i_cb_d">
                                                  <img src="images/progress.svg" />
                                              </div>
                                          </div>
                                      </div>
                                  </div>


                              </div> -->

              <div class="b_o_c_b">
                <div class="b_i_c_b">
                  <div class="b_i_img_b">
                    <div class="b_img_c">
                      <img src="assets/images/dashboard-plan-buy.svg" />
                    </div>
                  </div>

                  <div class="b_t_c_o_b">
                    <div class="b_t_c_i_b">
                      <p>You haven't subscribed to</p>
                      <h6>any plan yet</h6>
                      <div class="btnCon">
                        <a
                          href=""
                          routerLink="/plans/post-plan"
                          class="btnRed flex_c_a_c"
                          >View all plans</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="dashboard-p-list bg-yellow s_b_c">
                <div class="dbcbid">
                  <div class="dashboard-p-list3-img">
                    <img src="assets/images/doc_img.svg" alt="" />
                  </div>
                  <div class="dashboard-p-list3-cont">
                    <p>Network Hospitals & Doctors</p>
                    <h6>Around me</h6>
                    <a
                      href=""
                      routerLink="/networks/post-doctors"
                      title=""
                      class="dashboard-p-btn"
                      >Find A Doctor</a
                    >
                    <a
                      href=""
                      routerLink="/networks/post-hospitals"
                      title=""
                      class="dashboard-p-btn"
                      >Find A Hospital</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d_i_c_b go_h_f">
  <span class="l_c_d">
    <a href="" routerLink="/dashboard/dashboard">Dashboard</a>
  </span>
  <div class="d_p_c_c">
    <a href="javascript:void(0)" class="dpc btnHelppoup">
      <p><span></span><i>HELP</i></p>
    </a>
  </div>
  <span class="d_r_f_c_b">
    <a href="" routerLink="/refer-a-friend/refer-a-friend">Refer a Friend</a>
  </span>
</div>
<div class="help_popup-overlay">
  <div class="help_popup-inner">
    <div class="help_c_i_p">
      <div class="help_c_c_g_b">
        <a href="javascript:void(0);" class="help_closebtn">Close</a>
        <div class="help_c_t_h_b">
          <div class="help_c_t_f_n_c">
            <div id="formContainerBox">
              <p>Toll Free Number</p>
              <h4><a href="tel:+91-8010994994">+91-8010994994</a></h4>
              <div class="help_c_t_f_n_c_call_now">
                <div class="help_call_now">
                  <a href="tel:+91-8010994994">Call now</a> or
                </div>
                <div class="help_r_c_b">
                  <a
                    href="javascript:void(0);"
                    class="r_f_c_b btnRed flex_c_a_c"
                    >Request call back</a
                  >
                </div>
              </div>
              <div class="f_c_b_m">
                <form
                  action=""
                  method="POST"
                  id="requestCall"
                  autocomplete="off"
                >
                  <div class="formGroup">
                    <label>Enter your mobile number</label>
                    <div class="f_i_c_b">
                      <input
                        type="tel"
                        class="tel_g_d"
                        name="mobile"
                        value=""
                        placeholder="989129XXXX"
                        minlength="10"
                        maxlength="10"
                        onkeypress="return isNumberKey(event);"
                        pattern="[1-9]{1}[0-9]{9}"
                      />
                    </div>
                  </div>
                  <div class="b_c_s">
                    <button
                      type="button"
                      id="submitForm"
                      class="btnRed flex_c_a_c"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div id="sucessesMsg">
              <div class="sucessCon">
                <span><i></i></span>
                <h5>Thank You</h5>
                <p>We will receive call back from us shortly</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
