<div class="fullcontainer pt80">
  <div class="rowcontainer">
    <div class="fixedcontainer noSpaceLR">
      <div class="c_container_outer">
        <div class="c_container_inner">
          <div class="c_centrt_grid">
            <div class="log-n-p-outer-box">
              <h4>
                It seems that you've not taken<br />
                <strong>Kenko score yet</strong>
              </h4>
              <div class="s_c_outer">
                <div class="log-n-p-top-image">
                  <img
                    src="assets/images/kenko-store-image.svg"
                    alt=""
                    width=""
                  />
                </div>

                <div class="log-no-p-b">
                  <h3>
                    Grab Your Free<br /><span class="log-n-p-fstyle"
                      >Kenko Score</span
                    >
                  </h3>
                  <h5>….While it’s still free</h5>
                </div>
                <div class="log-n-p-g-btn">
                  <a href="bit.ly/Kenko-Score" title="Google playstore">
                    <img
                      src="assets/images/google-playstore-icon.svg"
                      alt="Google playstore"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
